{{ if .Site.Params.achievements.enable | default false }}
<section id="achievements" class="profile-section">
    <div class="container profile-container">
        <h2 class="profile-section-title">{{ .Site.Params.achievements.title | default "Awards" }}</h2>
        <ul class="profile-list">
            {{ range .Site.Params.achievements.items }}
            {{ if not (or (in (lower .title) "comming soon") (in (lower .title) "coming soon")) }}
            <li class="profile-item">
                <div class="profile-item-head">
                    <h3 class="profile-item-title">{{ .title | safeHTML }}</h3>
                    {{ if .date }}<p class="profile-item-date">{{ .date }}</p>{{ end }}
                </div>
                {{ if .content }}
                <div class="profile-item-content">{{ .content | safeHTML }}</div>
                {{ end }}
                {{ if .url }}
                <p class="profile-item-extra"><a class="profile-link-button" href="{{ .url }}" target="_blank">{{ .buttonName | default $.Site.Params.achievements.buttonName | default "Award" }}</a></p>
                {{ end }}
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</section>
{{ end }}
