{{ if .Site.Params.education.enable | default false }}
<section id="education" class="profile-section">
    <div class="container profile-container">
        <h2 class="profile-section-title">{{ .Site.Params.education.title | default "Education" }}</h2>
        <ul class="profile-list">
            {{ range .Site.Params.education.items }}
            <li class="profile-item">
                <div class="profile-item-head">
                    <h3 class="profile-item-title">{{ .title }}</h3>
                    {{ if .date }}<p class="profile-item-date">{{ .date }}</p>{{ end }}
                </div>
                {{ if .school.url }}
                <a class="profile-item-link" href="{{ .school.url }}" target="_blank">{{ .school.name }}</a>
                {{ else }}
                <p class="profile-item-org">{{ .school.name }}</p>
                {{ end }}
                <div class="profile-item-content">{{ .content | markdownify }}</div>
                {{ if .featuredLink.enable }}
                <p class="profile-item-extra"><a href="{{ .featuredLink.url }}">{{ .featuredLink.name | default "Featured" }}</a></p>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</section>
{{ end }}
