{{ if .Site.Params.inter_publications.enable | default false }}
<section id="inter_publications" class="profile-subsection">
        <h3 class="profile-subsection-title">{{ .Site.Params.inter_publications.title | default "International Conference (Refereed)" }}</h3>
        <ul class="profile-list">
            {{ range .Site.Params.inter_publications.items }}
            <li class="profile-item">
                <h3 class="profile-item-title">{{ .title | safeHTML }}</h3>
                <p class="profile-item-org">{{ .inter_publication.name }}</p>
                {{ if .content }}
                <div class="profile-item-content">{{ .content | markdownify }}</div>
                {{ end }}
                {{ if .inter_publication.url }}
                <p class="profile-item-extra"><a class="profile-link-button" href="{{ .inter_publication.url }}" target="_blank">{{ .inter_publication.buttonName | default $.Site.Params.inter_publications.buttonName | default "Paper Link" }}</a></p>
                {{ end }}
            </li>
            {{ end }}
        </ul>
</section>
{{ end }}
