{{ if .Site.Params.projects.enable | default false }}
<section id="projects" class="profile-section">
    <div class="container profile-container">
        <h2 class="profile-section-title">{{ .Site.Params.projects.title | default "Projects" }}</h2>
        <ul class="profile-list">
            {{ range .Site.Params.projects.items }}
            <li class="profile-item">
                <h3 class="profile-item-title">{{ .title }}</h3>
                {{ if .content }}
                <div class="profile-item-content">{{ .content | markdownify }}</div>
                {{ end }}
                {{ if .badges }}
                <ul class="profile-tag-list">
                    {{ range .badges }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
                {{ end }}
                {{ if or (.links) (.featured) }}
                <p class="profile-item-extra">
                    {{ range .links }}
                    <a href="{{ .url }}" target="_blank"><i class="{{ .icon }}"></i></a>
                    {{ end }}
                    {{ if .featured }}
                    <a href="{{ .featured.link }}" target="_blank">{{ .featured.name }}</a>
                    {{ end }}
                </p>
                {{ end }}
            </li>
            {{ end }}

            {{ range ( where .Site.RegularPages "Type" "projects" ) }}
            {{ if .Params.showInHome | default true }}
            <li class="profile-item">
                <h3 class="profile-item-title">{{ .Title | truncate 50 }}</h3>
                <div class="profile-item-content">{{ .Summary | truncate 100 | safeHTML }}</div>
                {{ if .Params.badges }}
                <ul class="profile-tag-list">
                    {{ range .Params.badges }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
                {{ end }}
                <p class="profile-item-extra">
                    {{ range .Params.links }}
                    <a href="{{ .url }}"><i class="{{ .icon }}"></i></a>
                    {{ end }}
                    <a href="{{ .RelPermalink }}">Know more</a>
                </p>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</section>
{{ end }}