{{ $section := .section }}
{{ if $section.enable | default false }}
<section id="{{ .id }}" class="profile-subsection">
    <h3 class="profile-subsection-title">{{ $section.title }}</h3>
    <ul class="profile-list">
        {{ range $section.items }}
        <li class="profile-item">
            <h3 class="profile-item-title">{{ .title | safeHTML }}</h3>
            {{ if .publication.name }}
            <p class="profile-item-org">{{ .publication.name }}</p>
            {{ end }}
            {{ if .content }}
            <div class="profile-item-content">{{ .content | markdownify }}</div>
            {{ end }}
            {{ if or .publication.url .publication.links }}
            <p class="profile-item-extra">
                {{ if .publication.url }}
                <a class="profile-link-button" href="{{ .publication.url }}" target="_blank" rel="noopener noreferrer">{{ .publication.buttonName | default $section.buttonName | default "Paper Link" }}</a>
                {{ end }}
                {{ range .publication.links }}
                <a class="profile-link-button" href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .name | default "Link" }}</a>
                {{ end }}
            </p>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
