{{ if .Site.Params.publications.enable | default false }}
<section id="domestic_publications" class="profile-subsection">
        <h3 class="profile-subsection-title">{{ .Site.Params.publications.title | default "Domestic Conference" }}</h3>
        <ul class="profile-list">
            {{ range .Site.Params.publications.items }}
            <li class="profile-item">
                <h3 class="profile-item-title">{{ .title | safeHTML }}</h3>
                <p class="profile-item-org">{{ .publication.name }}</p>
                {{ if .content }}
                <div class="profile-item-content">{{ .content | markdownify }}</div>
                {{ end }}
                {{ if .publication.url }}
                <p class="profile-item-extra"><a class="profile-link-button" href="{{ .publication.url }}" target="_blank">{{ .publication.buttonName | default $.Site.Params.publications.buttonName | default "Paper Link" }}</a></p>
                {{ end }}
            </li>
            {{ end }}
        </ul>
</section>
{{ end }}
